torch==2.9.0
torchvision==0.24.0
matplotlib==3.10.7
pandas==2.3.3
pillow==12.0.0
tqdm==4.67.1
numpy==1.26.4
opencv-python==4.9.0.80
scikit-image==0.22.0
python-docx==1.1.0
lpips==0.1.4
kornia==0.8.2
kornia_rs==0.1.10
